*.log
.DS_Store
.env
.env.backup
.env.docker
.env.production
render.env
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/example
/node_modules
/playwright-report
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/test-results
/vendor
database/playwright.sqlite
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
